[package]
name = "giganto"
version = "0.18.0+tis.0.1.0-alpha.1"
edition = "2021"

[lib]
name = "giganto_proc_macro"
proc-macro = true

[[bin]]
name = "giganto"

[dependencies]
anyhow = "1.0"
async-graphql = { version = "6.0", features = ["chrono"] }
async-graphql-warp = "6.0"
base64 = "0.21"
bincode = "1.3"
chrono = { version = "0.4", features = ["serde"] }
config = { version = "0.13", features = ["toml"], default-features = false }
ctrlc = { version = "3", features = ["termination"] }
data-encoding = "2.4"
deluxe = "0.5"
directories = "5.0"
futures-util = "0.3"
giganto-client = { git = "https://github.com/aicers/giganto-client.git", tag = "0.15.2+tis.0.0.1" }
graphql_client = "0.13"
humantime = "2.1"
humantime-serde = "1"
libc = "0.2"
num_enum = "0.7"
num-traits = "0.2"
pcap = "1"
proc-macro2 = "1.0"
quinn = "0.10"
quote = "1.0"
reqwest = { version = "0.11", features = ["rustls-tls", "json"] }
rocksdb = "0.21"
roxy = { git = "https://github.com/aicers/roxy.git", tag = "0.2.1" }
rustls = "0.21"
rustls-pemfile = "1.0"
semver = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
syn = "2.0"
tempfile = "3"
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
toml_edit = "0.21"
tracing = "0.1"
warp = { version = "0.3", features = ["tls"] }
x509-parser = "0.15"

[dev-dependencies]
mockito = "1.2.0"
regex = "1"
serial_test = "2.0.0"
tempfile = "3"
url = "2"

[features]
default = ["benchmark"]
benchmark = []
