name: CI

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Increase ulimit size
        run: ulimit -n 8096
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      - uses: actions/checkout@v5
      - uses: biomejs/setup-biome@v2
        with:
          version: 2.3.5
      - uses: ./.github/cache-cargo
      - name: Check formatting
        run: cargo fmt -- --check --config group_imports=StdExternalCrate
      - name: Clippy (Cluster)
        run: cargo clippy --tests -- -D warnings
      - name: Clippy (Server-only)
        run: cargo clippy --no-default-features --features benchmark --tests -- -D warnings
      - name: Biome check
        run: biome ci
      - name: Detect Cargo.lock changes
        run: git diff-index --quiet HEAD --
      - name: markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v18

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
    steps:
      - name: Increase ulimit size
        run: ulimit -n 8096
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - uses: actions/checkout@v5
      - uses: ./.github/cache-cargo
      - name: Install libcap on Ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get install libpcap-dev libpcap0.8
      - name: Build
        run: cargo build --verbose
      - name: Schema snapshot check
        run: cargo test --bin gen_schema graphql::tests::schema_should_be_up_to_date --no-default-features -- --ignored
      - name: Run tests
        run: cargo test --all-features --verbose

  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Increase ulimit size
        run: ulimit -n 8096
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - uses: actions/checkout@v5
      - uses: ./.github/cache-cargo
      - name: Install libcap on Ubuntu
        run: |
          sudo apt-get install libpcap-dev libpcap0.8
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-llvm-cov
      - name: Generate code coverage
        run: cargo llvm-cov --workspace --lcov --output-path lcov.info
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: lcov.info
          fail_ci_if_error: true
